<div class="container" style="margin-top: 20px">
  <h2 style="text-align: center">Students</h2>
  <div class="row">
    <table class="table  table-inverse table-bordered "style="text-align: center">
      <thead class="thead-inverse">
        <tr >
          <th>Name</th>
          <th>Details</th>
          <th>Delete</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of students"> 
  
            <td style="text-align: center;vertical-align: middle;">{{student.name}}</td>
            <td><button type="button" class="btn btn-info" (click)="onSelect(student)">Details</button> </td>
            <td><button type="button" class="btn btn-danger">Delete</button> </td>
          </tr>
         
        </tbody>
    </table>
  </div>
  <app-student-details [student]="selectedStudent"></app-student-details>
  </div>