<div class="container" style="margin-top: 20px">
<h2 style="text-align: center">Schools</h2>
<div class="row">
  <table class="table  table-inverse table-bordered "style="text-align: center">
    <thead class="thead-inverse">
      <tr >
        <th>Name</th>
        <th>Details</th>
        <th>Delete</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let school of schools"> 

          <td style="text-align: center;vertical-align: middle;">{{school.name}}</td>
          <td><button type="button" class="btn btn-info" (click)="onSelect(school)">Details</button> </td>
          <td><button type="button" class="btn btn-danger" (click)="onDelete(school)">Delete</button> </td>
        </tr>
       
      </tbody>
  </table>
</div>
<app-school-details [school]="selectedSchool"></app-school-details>
</div>