<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid" style="width:30%;margin:20px auto">
  <div class="row">
    <button type="button" [routerLink]="[ '/schools' ]" class="btn btn-primary">View Schools</button>
    <button type="button" [routerLink]="[ '/students' ]" class="btn btn-primary">View Students</button>
  </div>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>