<div class="row" *ngIf="student">
  <table class="table table-bordered table-inverse ">
    <thead class="thead-inverse">
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Age</th>
        <th>Gender</th>
      </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row">{{student.name}}</td>
          <td>{{student.address}}</td>
          <td>{{student.age}}</td>
          <td>{{student.gender}}</td>
        </tr>
      </tbody>
  </table>
  </div>
  