<div class="row" *ngIf="school">
<table class="table table-bordered table-inverse ">
  <thead class="thead-inverse">
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Type</th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">{{school.name}}</td>
        <td>{{school.address}}</td>
        <td>{{school.type}}</td>
      </tr>
    </tbody>
</table>
</div>
